* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Karla", sans-serif;
  background-color: gray;
  background: radial-gradient(black, white);
}

.gradient {
  max-width: 800px;
  width: 80%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: #b5caf9;
  padding: 2em;
  border-radius: 5px;
  margin-top: 1em;
}

input {
  cursor: pointer;
  margin: 20px;
}

.number-of-colors {
  text-align: center;
}

input[type="number"] {
  width: 40px;
}

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  opacity: 0.8;
}

input[type="color"] {
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: 30px;
  width: 100px;
}

.gradient-mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.angle.clicked {
  color: gray;
  opacity: 0.4;
}

.radial {
  cursor: pointer;
  width: 40px;
  height: auto;
  background-color: whitesmoke;
  padding: 0.1em;
  border-radius: 20%;
  color: black;
}

.clicked {
  opacity: 0.7;
  color: gray;
}

button {
  display: block;
  width: 200px;
  border: 1px black solid;
  border-radius: 5em;
  padding: 0.1em;
  color: grey;
  margin: 1em auto;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
}

main {
  width: 100%;
}

p {
  width: 80%;
  margin: 1em auto;
  font-size: 1rem;
  border: 1px solid black;
  padding: 1em 3em;
  background-color: rgb(250, 233, 233);
  color: rgb(240, 89, 67);
}
