* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "Karla", sans-serif;
}

.gradient-box {
  width: 80%;
  padding: 2em;
  border-radius: 5px;
  margin-top: 1em;
  background-color: rgba(104, 103, 103, 0.4);
}

input {
  cursor: pointer;
  margin: 20px;
}

.number-of-colors {
  text-align: center;
}

input[type="number"] {
  width: 55px;
}

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  opacity: 0.8;
}

input[type="color"] {
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  height: 30px;
  width: 100px;
}

.gradient-mode {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 0.4em;
}

.box {
  border: 2px solid black;
  font-size: 1rem;
}

.mode-icon {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  cursor: pointer;
}

img {
  height: 28px;
  margin-right: 0.5em;
}

.angle.clicked {
  color: gray;
  opacity: 0.4;
}

.clicked {
  background-color: white;
}

button {
  display: block;
  width: 200px;
  border: 1px black solid;
  border-radius: 5em;
  padding: 0.5em 0.7em;
  margin: 1em auto;
}

button:hover {
  background-color: #ffffff;
}

.copy-code {
  width: 80vw;
  margin: 1em auto;
  font-size: 1rem;
  text-align: center;
  border: 1px solid black;
  padding: 1em 3em;
  background-color: rgb(250, 233, 233);
  color: rgb(240, 89, 67);
}
